[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "zsh/vendor/zsh-syntax-highlighting"]
	path = zsh/vendor/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
