"*":
  core:
    projectHome: "~/Developer"
    telemetryConsent: "limited"
  editor:
    fontFamily: "Roboto Mono"
    softWrap: true
  "exception-reporting":
    userId: "3155b042-d5ee-30c1-f3c9-c3c7cc934f06"
  linter: {}
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    markerType: "dot"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
